table {
    border-collapse: collapse;
}

tr {
    border : 1px solid #ccc;
    margin: 50px;
}

.product-img {
    height: 100px;
    margin-top: 4px;
}

.delete-button {
    color: grey;
    font-size:10px;
}

.checkout {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

.empty-cart {
    text-align: center;
    padding-top: 15px;
}

.empty-cart button{
    margin-left : 10px;
}
    


    